body {
	position: relative;
}

body:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(https://www.publicdomainpictures.net/pictures/70000/velka/stars-in-the-night-sky.jpg);
	background-repeat: repeat-y;
	opacity: 0.05;
	width: 100%;
	height: 100%;

	z-index: -1;
}
